{% extends 'layout.html.twig' %}

{% block main %}

    <h1>Take a screenshot</h1>

    <form method="post" action="{{ path('screenshots_take') }}" class="form-inline">
        <label for="screenshotUrl" class="my-1 mr-2" >URL to take a screenshot of</label>
        <input type="url" class="form-control form-control-lg my-1 mr-sm-2" id="screenshotUrl" name="screenshotUrl" placeholder="http://example.com">

        <button type="submit" class="btn btn-primary my-1 btn-lg">Take screenshot</button>
    </form>

{% endblock %}
