{% extends 'layout.html.twig' %}

{% block main %}

    <h1>Take a screenshot</h1>

    <form method="post" action="{{ path('screenshots_take') }}" class="form">
        <div class="form-group">
            <label for="screenshotUrl">URL to take a screenshot of</label>
            <textarea class="form-control form-control-lg" id="screenshotUrl" name="urls" rows="5">http://example.com</textarea>
        </div>
        <button type="submit" class="btn btn-primary my-1 btn-lg">Take screenshot</button>
    </form>

{% endblock %}
